ipython/notebooks/reference/.ipynb_checkpoints/
ipython/notebooks/examples/
ipython/notebooks/.ipynb_checkpoints/
geolocation/ENV/
geolocation/.ipynb_checkpoints/
django/Dropbox/.dropbox.cache/
RD/vendor_data/
.metadata/
django/Dropbox/aporo
django/Dropbox/aprinto
geolocation/ogr2osm
GitLibrary.git
*.pyc
nginx/OpenResty_Nginx/ngx_openresty-1.7.2.1/mods
nginx/OpenResty_Nginx/nginx-1.7.4/src
ipython/notebooks/reference/files/ubuntu_config/mods
ipython/notebooks/reference/files/BUILD/mods
*.idea/*
*.DS_Store
Projects/GAE/src/SampleApps
geolocation/address_standardizer/
RD/src/perm_data/
RD/src/ENV/
RD/.idea/
ghostdriver.log
**/ENV/**
ENV/**
ENV
*.*~

real_estate/autoposter/identities
