<database>
<table table_name="CONNECTION_BEAN">
<row USELOCALCURSOR="0" SCALEMODE="MATRIX" INPUTMODE="TOUCH_ZOOM_MODE" FOLLOWPAN="0" LAST_META_KEY_ID="0" ADDRESS="192.168.2.72" KEEPPASSWORD="0" COLORMODEL="C64" NICKNAME="apt.3F" USEREPEATER="0" PORT="5900" REPEATERID="" _id="3" METALISTID="1" FOLLOWMOUSE="0" USERNAME="" FORCEFULL="0" PASSWORD="" SHOWZOOMBUTTONS="0" />
<row USELOCALCURSOR="0" SCALEMODE="MATRIX" INPUTMODE="TOUCH_ZOOM_MODE" FOLLOWPAN="0" LAST_META_KEY_ID="0" ADDRESS="69.86.109.22" KEEPPASSWORD="1" COLORMODEL="C64" NICKNAME="apt.3F-external" USEREPEATER="0" PORT="5900" REPEATERID="" _id="4" METALISTID="1" FOLLOWMOUSE="0" USERNAME="" FORCEFULL="0" PASSWORD="money4me" SHOWZOOMBUTTONS="0" /></table>
<table table_name="MOST_RECENT">
<row SHOW_SPLASH_VERSION="13" CONNECTION_ID="4" TEXT_INDEX="0" _id="1" /></table>
<table table_name="META_LIST">
<row NAME="DEFAULT" _id="1" /></table>
<table table_name="META_KEY" />
<table table_name="SENT_TEXT" /></database>