altgraph==0.10.2
appscript==1.0.0
async==0.6.1
bdist-mpkg==0.5.0
beautifulsoup4==4.3.1
beautifulsoup==3.2.1
boto==2.8.0
bottleneck==0.7.0
configobj==4.7.2
cython==0.19.2
docutils==0.11
ebaysdk==0.0.3
elementtree==1.2.7-20070827-preview
ez-setup==0.9
gdal==1.8.1
gevent==0.13.8
gitdb==0.5.4
gitpython==0.3.2.RC1
greenlet==0.4.1
html5lib==1.0b3
libxml2-python==2.9.1
line-profiler==1.0b3
lxml==3.2.1
macholib==1.5.1
matplotlib==1.3.1
mechanize==0.2.5
mercurial==3.0.1
mock==1.0.1
modulegraph==0.10.4
networkx==1.8.1
nose==1.3.0
numexpr==2.2.2
numpy==1.8.0
pandas==0.12.0
pp==1.6.4
psycopg2==2.5.2
py2app==0.7.3
py==1.4.17
pycairo==1.10.0
pygeocoder==1.1.4
pyobjc-core==2.5.1
pyobjc-framework-cocoa==2.5.1
pyparsing==2.0.1
pypdf2==1.17
pyspatialite==3.0.1-alpha-0
pysqlite==2.6.3
pytest==2.4.2
python-dateutil==1.5
python-digest==1.7
pytz==2013d
pyusb==0.4.3
pyyaml==3.10
roman==2.0.0
runsnakerun==2.0.4
scientificpython==2.9.2
scikit-learn==0.14.1
scipy==0.13.2
selenium==2.41.0
shedskin==0.9.4
six==1.4.1
smmap==0.8.2
squaremap==1.0.3
tables==3.0.0
tkinter==0.0.0
tksnack==2.2.9
tornado==3.1.1
virtualenv==1.11.4
wsgiref==0.1.2
wxpython-common==3.0.0.0
wxpython==3.0.0.0
